<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-icon solt="start" size="large" name="arrow-back"></ion-icon>返回 -->
      <ion-back-button text="返回"></ion-back-button>
      <ion-title style="text-align: center;">AboutMe</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-text>
    200327019 - 陈钰洁 
    目前按照池老师的文档以及在同学们的帮助下完成了大部分实践任务，
    经历一个app从无到有觉得十分有意思，
    希望在接下来的时间里能够有闲暇去优化我的ui界面。
    对于工程训练这门课没有什么意见与建议，老师辛苦了。
  </ion-text>
</ion-content>
