<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-icon solt="start" size="large" name="arrow-back"></ion-icon>返回 -->
      <ion-back-button text="返回"></ion-back-button>
      <!-- this one is better, because it won't refresh the view -->
      <ion-title style="text-align: center;">店铺信息</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <ion-list inset="true">
    <ion-item routerLink="/ShopEdit" [queryParams]="{title:'店铺名称',property:'shopName'}" lines='none'>
      <ion-label>店铺名称</ion-label>
      <ion-note style="font-size: 12pt;" slot="end">{{shop.shopName}}</ion-note>
    </ion-item>
    <ion-item routerLink="/ShopEdit" [queryParams]="{title:'店铺简称',property:'shortName'}" lines='full'>
      <ion-label>店铺简称</ion-label>
      <ion-note style="font-size: 12pt;" slot="end">{{shop.shortName}}</ion-note>
    </ion-item>
    <ion-item lines='full'>
      <ion-label>注册时间</ion-label>
      <ion-note style="font-size: 12pt;" slot="end">{{createTime | date: "yyyy-MM-dd HH:mm:ss"}}</ion-note>
    </ion-item>
    <ion-item lines='full'>
      <ion-label>手机号码</ion-label>
      <ion-note style="font-size: 12pt;" slot="end">{{shop.phone}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list inset="true">
    <ion-item>
      <ion-label>电子邮箱</ion-label>
      <ion-note style="font-size: 12pt;" slot="end">{{shop.email}}</ion-note>
    </ion-item>
    <ion-item routerLink="/ShopEdit" [queryParams]="{title:'店主姓名',property:'shopKeeperName'}">
      <ion-label>店主姓名</ion-label>
      <ion-note style="font-size: 12pt;" slot="end">{{shop.shopKeeperName}}</ion-note>
    </ion-item>
    <ion-item routerLink="/ShopEdit" [queryParams]="{title:'店铺电话',property:'shopTel'}">
      <ion-label>店铺电话</ion-label>
      <ion-note style="font-size: 12pt;" slot="end">{{shop.shopTel}}</ion-note>
    </ion-item>
  </ion-list>
  <cyj-copyright [bottom]="'20px'"></cyj-copyright>
</ion-content>
