<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" color=""></ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{Title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
  <form>
    <ion-list>
      <ion-item-divider color="light">
        <div>{{title}}</div>
        <div *ngIf="title == '大分类'" slot="end">
          <ion-input name="{{title}}" [(ngModel)]="Mname" text="text" required placeholder="商品大分类名称"></ion-input> <!-- !!!!!!-->
        </div>
      </ion-item-divider>
      <ion-item-divider *ngFor="let category of category.children" color="light">
        <div>小分类</div>
        <div slot="end">
          <ion-input name="subCategory" [(ngModel)]="category.name" type="text" required placeholder="商品小分类名称"></ion-input>
        </div>
      </ion-item-divider>
      <ion-item-divider>
        <ion-text color="primary" (click)="onAddSubCategory()">
          <ion-icon name="add-circle"></ion-icon>新增小分类
        </ion-text>
      </ion-item-divider>
    </ion-list>
    <div padding-horizontal>
      <ion-button expand="full" color="primary" (click)="onSave()">保存</ion-button>
    </div>
  </form>
</ion-content>
