<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>修改库存</ion-title>
    <ion-buttons slot="end">
      <ion-button  size="small" (click)="onStorageLog()">出入库记录</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content non-padding color="light">
  <ion-toolbar style="padding: 1% 3% 3% 3%;">
    <ion-segment [(ngModel)]="IncreOrDecre" color="primary">
      <ion-segment-button value="IncreaseStorage" >入库</ion-segment-button> <!--Don't check?-->
      <ion-segment-button value="DecreaseStorage">出库</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <form #modifyInfor="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="fix">{{inFor[IncreOrDecre]}}</ion-label>
        <ion-input type="number" slot="end" placeholder="0.0" [(ngModel)]="num" name="num"
                   type="number" clearInput="true" style="float:right;" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">备注</ion-label>
          <ion-input type="text" [(ngModel)]="product.remark" name="remark" clearInput="true"></ion-input>
        </ion-item>
    </ion-list>
    <br/>
    <div text-right>
      <ion-note>当前库存：{{product.StorageNum}}件</ion-note>
    </div>
  </form>
  <ion-button expand="full" [disabled]="modifyInfor.invalid" (click)="onConfirm()">确定</ion-button>
</ion-content>
